# ======================
# BACKEND (Maven / Spring Boot)
# ======================
**/target/
**/*.log

# ======================
# FRONTEND (Vite / React)
# ======================
**/node_modules/
**/dist/

# ======================
# ENV
# ======================
.env
.env.*

# ======================
# FILES
# ======================
uploads/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db