.btn-back-global {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;

    background: #0c2c4a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-back-global:hover {
    background: #093054;
}
